/**
 * CONFIGURATOR
 * -------------------------------------------------------------------
 */

body {

  @include at($screen-md) {
    display: flex;
    margin: 0;
  }
}

.u-main {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  min-height: calc(100vh - #{rem(48px)});
}

.u-wrapper {
  flex: 1 1 auto;
  width: 100%;
}

.o-header__actions {
  float: right;

  .a-avatar {
    float: left;
  }

  .m-flyout > .a-button {
    width: auto;
  }

  .m-flyout__content {
    top: rem(47px);
  }
}

.o-configurator {
  margin: rem(96px) auto;
}

.o-configurator__header {
  background-color: $brand-primary;
  color: $white;
  padding: $spacer;
}

.o-configurator__nav {
  @include at($screen-sm) {
    display: flex;
  }

  background-color: $white;
  border-bottom: 1px solid $border-color-light;
  border-left: 1px solid $border-color-light;
  border-right: 1px solid $border-color-light;

  .m-nav-tabs {
    flex-grow: 1;
  }

  [class*='a-button'] {

    @include to($screen-sm) {
      display: block;
      width: 100%;
    }

    @include at($screen-sm) {
      line-height: rem(55px);
    }
  }
}

.o-configurator__title {
  font-family: $font-family-base;
  font-weight: $bold;
}

.o-configurator__body {
  background-color: $white;
  border-bottom: 1px solid $border-color-light;
  border-left: 1px solid $border-color-light;
  border-right: 1px solid $border-color-light;
  padding: $spacer;
}

.o-configurator__body__header {
  margin-bottom: $spacer;
  text-align: right;
  width: 100%;
}

.o-configurator__body__row {

  @include at($screen-sm) {
    display: flex;
  }
}

.o-configurator__body__column {
  @include at($screen-sm) {
    width: 50%;
  }

  width: 100%;

  &:nth-child(odd) {
    @include at($screen-sm) {
      margin-bottom: 0;
      padding-right: $spacer-xs;
      border-right: 1px solid $border-color-light;
    }

    margin-bottom: $spacer;
  }

  &:nth-child(even) {

    @include at($screen-sm) {
      padding-left: $spacer;
    }
  }
}

.m-configuration {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: $spacer-lg;

    @include at($screen-md) {
      padding-bottom: $spacer;
    }
  }
}

.m-configuration__form {
  flex-grow: 1;

  @include at($screen-md) {
    display: flex;
    justify-content: space-between;
  }

  .a-input {

    &:first-child {

      @include to($screen-md) {
        margin-bottom: $spacer;
      }
    }

    @include at($screen-md) {
      width: calc(50% - #{rem(12px)});
    }
  }
}

.o-configurator__footer {
  @include at($screen-sm) {
    align-items: center;
    flex-direction: row;
  }

  background-color: $white;
  border-bottom: 1px solid $border-color-light;
  border-left: 1px solid $border-color-light;
  border-right: 1px solid $border-color-light;
  display: flex;
  flex-direction: column;
  padding: $spacer;
}

.o-configurator__footer__column {
  @include at($screen-sm) {
    width: 50%;

    &:first-child [class*='a-button'] {
      margin-bottom: 0;
    }
  }

  width: 100%;

  &:first-child [class*='a-button'] {
    margin-bottom: rem(12px);
  }

  [class*='a-button'] {
    @include at($screen-sm) {
      width: auto;
    }

    width: 100%;
  }
}

.a-form-half {
  &:not(:last-child) {
    margin-bottom: $spacer;
  }

  @include at($screen-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  > .a-input,
  > .a-datepicker,
  > .a-timepicker {

    &:nth-child(odd) {
      margin-bottom: $spacer;
    }

    @include at($screen-md) {
      width: calc(50% - #{rem(12px)});

      &:nth-child(odd) {
        margin-bottom: 0;
      }
    }
  }
}

.m-pagination {
  justify-content: center;
}

.akit-component-statusbar {
  @include clearfix;
  background-color: $state-info;
  box-shadow: $box-shadow;
  color: $white;
  cursor: pointer;
  display: flex;
  left: 0;
  min-height: $spacer * 4;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5002;

  &.error {
    background-color: $state-danger;
  }

  &.warning {
    background-color: $state-warning;
  }

  &.success {
    background-color: $state-success;
  }

  &.info {
    background-color: $state-info;
  }
}

.akit-component-statusbar__content {
  align-items: center;
  display: flex;
  flex: 1;
  padding: $spacer;
  text-align: center;

  a {
    color: $white;
  }

  p {
    flex: 1;
    margin: 0;
    padding: 0;
  }
}

.akit-component-statusbar__status,
.akit-component-statusbar__close {
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  text-align: center;
  width: $spacer * 2;

  .fa {
    align-self: center;
    font-size: $spacer;
    width: $spacer * 2;
  }
}

.akit-component-statusbar__close {
  cursor: pointer;
  transition: background $animation-normal;

  &:hover,
  &:focus {
    background-color: $brand-secondary;
  }
}
